
<div class="container">
	<div class="row">



<div class = "col-xs-3">

<table class="table table-bordered">
	
	<thead>
		<tr>
			<th>ジャンル検索</th>
		</tr>
	</thead>

	<tbody>
		<% @genres.each do |genre| %>
		<tr>
			<th><%= link_to genre.genre_name,genre_search_product_path(genre.id) %></th>
		</tr>
    <% end %>
	</tbody>
</table>
</div>
</div>
</div>
<div class = "col-xs-6">

	<img src="assets/001.jpg" class="img-responsive" alt="サンプル画像">
</div>
</div>





