<div class="container">
	<dev class="row">
		<div class="col-xs-10 col-xs-offset-1">
				<h2>注文履歴一覧</h2>
					<table class="table">
						<thead>
							<tr class="active">
								<th>注文日</th>
								<th>配送先</th>
								<th>注文商品</th>
								<th>支払金額</th>
								<th>ステータス</th>
								<th>注文詳細</th>
							</tr>
						</thead>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</dev>
</div>