<h2>注文履歴一覧</h2>

<div class="container">
	<div class="row">

	<div class = "col-xs-12">
		<table class="table table-bordered">
		<thead>
		<tr>
			<th>注文日</th>
			<th>配送先</th>
			<th>注文商品</th>
			<th>支払い金額</th>
			<th>ステータス</th>
			<th>注文詳細</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th>あ</th>
			<th>あ</th>
			<th>あ</th>
			<th>あ</th>
			<th>あ</th>
			<th><%= link_to "表示する",customers_root_path, class: "btn btn-info edit_book" %></th>
		</tr>
		</tbody>
		</table>
	</div>