/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* headerのデザインを変更する */
header{
	background-color:pink;
	.navbar-left{
		span{
			font-size:35px;
			padding-top:10px;
			color:white;
		}
	}
	.navbar-right{
		font-size:18px;
		margin-top:25px;
		color:white;
		#welcome{
			font-size:20px;
			padding-top:11px;
			padding-right:100px
		}
	}
}

/* headerとbodyの間隔を開ける */
body{
	margin-top:150px;
}

/* 見出しの下の間隔を開ける */
h1{
	margin-bottom:50px;
}

/* テーブルの先頭の色を変更する */
thead,{
	background-color: #dcdcdc;
}

/* テーブルの文字の大きさを変更する */
th, td {
  font-size: 17px;
}

/* 特定のテーブルの枠線を消す */
#none-border td,
#none-border tr{
	border-style: none;
}

/* 特定のテーブルの文字を大きくする */
#big-size td,
#big-size tr{
	font-size: 35px;
}

/*ページネーションのデザインを変更する*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザインを変更する */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
}



/* ずれの修正のためのcss */
.list-group-item{
	margin-top: -20px;
}
/* ずれの修正のためのcss */
.col-xs-3:nth-child(4){
	margin-top:-20px;
}
/* ずれの修正のためのcss */
.col-lg-8{
	.aaaa{
	margin-top: -20px;
	}

}
.col-lg-8 p{
    position: absolute;
  top: 55%;
  left: 50%;
  text-align:center;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-weight: bold; /*太字に*/
  font-size: 2em;/*サイズ2倍*/
  width :1000px;
  }

.back-gray{
	background-color: #dcdcdc;
	font-size:30px;
	width :270px;
	height:40px;
	padding-top:5px;
	border-radius:2px;
	text-align:center
	}

.form-group{
	font-size:20px;
	margin-left:25px;
}










