// Place all the styles related to the order_details controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thanks{
	margin-top:300px;
	text-align: center;
}

.submit{
	margin-top:30px;
	text-align: center;
}

.field{
 margin-top:10px;
}

.information_check{
	color:red;
	font-size:20px;
	margin-top:0px;
	margin-bottom:20px;
}
