<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h1>注文履歴一覧</h1>
			<div class = "genre-list">
				<table class="table">
					<thead>
						<tr>
							<th>購入日時</th>
							<th>購入者</th>
							<th>注文個数</th>
							<th>注文ステータス</th>
						</tr>
					</thead>
					<tbody>
			 			<% @order_details.each do |order_detail| %>
				 			<tr>
					  			<td><%=link_to order_detail.created_at,admins_order_item_path(order_detail.id),data: {:turbolinks=> "false"}%></td>
					  			<td><%= order_detail.customer.full_name %></td>
								<td><%= order_detail.total_number %></td>
								<% case order_detail.order_status %>
									<% when "wait_deposit" %>
										<td>入金待ち</td>
									<% when "payment_confirmation" %>
										<td>入金確認</td>
									<% when "inproduction" %>
										<td>製作中</td>
									<% when "preparing_for_shipment" %>
										<td>発送準備中</td>
									<% when "sent" %>
										<td>発送済み</td>
								<% end %>
							</tr>
						<% end %>
					</tbody>
				</table>
				<div class="text-center"><%= paginate @order_details %></div>
			 </div>
		 </div>
	</div>
</div>

